.home-container {
  margin-top: 0 !important;
  background: #000;

  .header {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 30px;

    .logo {
      a {
        img {
          width: 138px;
          height: 47px;
          transition: transform 0.5s;
          transition-timing-function: ease-in-out;
          &:hover {
            transform: scale(0.9, 0.9) translate3d(0px, 0px, -50px);
          }
        }
      }
    }

    .top-menu {
      li {
        display: inline;
        margin-right: 30px;
        a {
          font-size: 20px;
          color: white;
          transition: transform 0.5s;
          transition-timing-function: ease-in-out;
          &:hover {
            transform: scale(0.98, 0.98) translate3d(0px, 0px, -15px);
          }
        }
      }
    }

    .menu {
      // position: relative;
      z-index: 1000;
      button {
        color: #fff;
        font: {
          size: 18px;
          weight: 600;
        }
        width: 232px;
        height: 68px;
        outline: none;
        border-radius: 96px;
        color: white;
        box-shadow: 0 0 6px 0 black;
        border: solid 3px transparent;
        background-image: linear-gradient(
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
          ),
          linear-gradient(101deg, #beef00, #fe019a);
        background-origin: border-box;
        background-clip: content-box, border-box;
        background-color: black;
        box-shadow: 2px 1000px 1px #1400c6 inset;

        transition: transform 0.5s;
        transition-timing-function: ease-in-out;
        &:hover {
          transform: scale(0.9, 0.9) translate3d(0px, 0px, -50px);
        }
      }
      margin-left: 100px;
      ul {
        display: flex;
        padding-left: 0;
        margin: 0;

        li {
          list-style-type: none;
          margin: 0 8px;
          a {
            color: #fff;
            text-decoration: none;
            letter-spacing: -1.5;
            font: {
              size: 20px;
              weight: 700;
            }
            transition: transform 0.5s;
            transition-timing-function: ease-in-out;
            &:hover {
              transform: scale(0.98, 0.98) translate3d(0px, 0px, -5px);
            }
          }
          img {
            width: 160px;
            height: 50px;
            transition: transform 0.5s;
            transition-timing-function: ease-in-out;
            &:hover {
              transform: scale(0.9, 0.9) translate3d(0px, 0px, -50px);
            }
          }
        }
      }
    }
  }

  .hamburger {
    display: none;
    filter: invert(1);
    outline: none;
    cursor: pointer;
    padding: 0 !important;
    border: none;
    img {
      width: 30px;
      height: 30px;
      transition: transform 0.5s;
      transition-timing-function: ease-out;
      &:hover {
        transform: scale(1.2, 1.2) translate3d(0px, 0px, 50px);
      }
    }
  }

  .back-highlight-1 {
    // z-index: -1;
    position: absolute;
    top: -200px;
    right: 0px;
    height: 100%;
    opacity: 0.3;
    img {
      width: 785px;
      height: 785px;
    }
    border-width: 0;
    outline: none;
  }

  .back-highlight-2 {
    // z-index: -1;
    position: absolute;
    width: 325.54px;
    height: 325.54px;
    left: 467.5px;
    top: 2004.15px;
    opacity: 0.12;
    /* Primary/Color 2 */

    background: #beef00;
    filter: blur(163.719px);
    transform: rotate(110deg);
  }

  .back-highlight-3 {
    // z-index: -1;
    position: absolute;
    width: 225.54px;
    height: 225.54px;
    left: 1993.56px;
    top: 2380.86px;
    opacity: 0.22;
    /* Primary/Color 2 */

    background: #beef00;
    filter: blur(163.719px);
    transform: rotate(110deg);
  }

  .back-highlight-4 {
    // z-index: -1;
    position: absolute;
    width: 308.67px;
    height: 308.67px;
    right: 664.73px;
    top: 3588.65px;
    opacity: 0.42;
    /* Primary/Color 2 */

    background: #beef00;
    filter: blur(213.72px);
    transform: rotate(110deg);
  }

  .back-highlight-5 {
    position: absolute;
    width: 308.67px;
    height: 308.67px;
    left: 709.09px;
    top: 4004.84px;
    opacity: 0.42;
    background: #ee2dff;
    filter: blur(213.72px);
    transform: rotate(110deg);
  }

  .back-highlight-6 {
    position: absolute;
    width: 180.24px;
    height: 180.24px;
    right: 800.08px;
    top: 4832.81px;
    opacity: 0.52;
    /* Primary/Color 2 */

    background: #beef00;
    filter: blur(137.913px);
    transform: matrix(0.34, 0.94, 0.94, -0.34, 0, 0);
  }

  .heart {
    position: absolute;
    top: 150px;
    right: 35px;
    height: 100%;
    img {
      width: 246px;
      height: 174px;
    }
    transition: transform 1s;
    transition-timing-function: ease-out;
    &:hover {
      transform: translate3d(-30px, 20px, 5px);
    }
  }

  .globe {
    position: absolute;
    top: 500px;
    right: 400px;
    height: 100%;
    img {
      height: 184px;
      width: 180px;
    }
    transition: transform 1s;
    transition-timing-function: ease-out;
    &:hover {
      transform: translate3d(-60px, -40px, 5px);
    }
  }

  .banner {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    margin-right: 350px;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 100px;

    .left {
      .title {
        max-width: 100%;
        margin-bottom: 30px;
      }

      .description {
        width: 100%;
        max-width: 600px;
        font: {
          size: 18px;
          weight: 200;
        }
        line-height: 40px;
        color: #bfbfcc;
        margin-bottom: 44px;
        letter-spacing: 1.5;
      }

      button {
        color: #fff;
        font: {
          size: 18px;
          weight: 600;
        }
        width: 232px;
        height: 68px;
        outline: none;
        border-radius: 96px;
        color: white;
        box-shadow: 0 0 6px 0 black;
        border: solid 3px transparent;
        background-image: linear-gradient(
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
          ),
          linear-gradient(101deg, #beef00, #fe019a);
        background-origin: border-box;
        background-clip: content-box, border-box;
        background-color: black;
        box-shadow: 2px 1000px 1px #1400c6 inset;

        transition: transform 0.5s;
        transition-timing-function: ease-in-out;
        &:hover {
          transform: scale(0.9, 0.9) translate3d(0px, 0px, -50px);
        }
      }
    }
  }

  .about {
    margin-top: 560px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 100px;
    max-width: 90%;
    .avatar {
      img {
        // margin: 0 auto;
        // max-width: 95vw;
        width: 500px;
        height: 430px;
      }
    }

    .content {
      margin-top: 10px;
      width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      .title {
        color: #fff;
        font: {
          size: 33px;
          weight: 900;
          family: "Archivo black", sans-serif;
        }
        line-height: 36px;
        // text-align: center;
      }

      .description {
        font: {
          size: 24px;
          weight: 700;
        }
        line-height: 30px;
        color: #bfbfcc;
        // text-align: center;
        letter-spacing: 1.5;
      }

      button {
        color: #fff;
        font: {
          size: 18px;
          weight: 700;
          // family: 'Nunito Sans'
        }
        width: 200px;
        height: 68px;
        outline: none;
        border-radius: 96px;
        color: white;
        box-shadow: 0 0 6px 0 black;
        border: solid 3px transparent;
        background-image: linear-gradient(
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
          ),
          linear-gradient(101deg, #beef00, #fe019a);
        background-origin: border-box;
        background-clip: content-box, border-box;
        background-color: black;
        box-shadow: 2px 1000px 1px #1400c6 inset;

        transition: transform 0.5s;
        transition-timing-function: ease-in-out;
        &:hover {
          transform: scale(0.9, 0.9) translate3d(0px, 0px, -50px);
        }
      }
    }
  }

  .gallery {
    position: absolute;
    top: 1600px;
    right: 50px;
    img {
      height: 184px;
      width: 180px;
    }
    transition: transform 1s;
    transition-timing-function: ease-out;
    &:hover {
      transform: translate3d(-50px, 50px, 5px);
    }
  }

  .nft-gallery {
    margin-top: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 108px 80px 124px;

    .title {
      margin-bottom: 85px;
      color: #fff;
    }

    .body {
      display: flex;

      .item {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: #fff;
        margin: 0 30px;

        .avatar {
          padding-left: 20px;
          margin-top: 60px;
          width: 350px;
          height: 350px;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            margin-bottom: 50px;
          }
          transition: transform 0.5s;
          transition-timing-function: ease-in-out;
          &:hover {
            transform: scale(1.03, 1.03) translate3d(0px, 0px, 10px);
          }
        }

        // p {
        //  text-align: left;
        // }
        .nft-number {
          font: {
            size: 20px;
            weight: 300;
          }
          padding-left: 20px;
          margin-top: 80px;
          color: #bfbfcc;
        }

        .title {
          padding-left: 20px;
          margin-top: 10px;
          margin-bottom: 5px;
          font: {
            size: 28px;
            weight: 600;
            family: "Archivo black", sans-serif;
          }
          cursor: pointer;
          transition: transform 0.5s;
          transition-timing-function: ease-in-out;
          &:hover {
            color: #4a3aff;
            transform: scale(0.99, 1) translate3d(0px, 0px, -3px);
          }
        }

        .description {
          padding-left: 20px;
          margin-top: 10px;
          font: {
            size: 26px;
            weight: 600;
          }
          line-height: 30px;
          letter-spacing: -1.5;
          color: #bfbfcc;
          cursor: pointer;
          transition: transform 0.5s;
          transition-timing-function: ease-in-out;
          &:hover {
            transform: scale(0.96, 0.96) translate3d(0px, 0px, -15px);
          }
        }

        .underline {
          margin-top: 3px;
          padding-left: 23px;
        }
      }
    }
  }

  .nft {
    margin-top: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 108px 80px 124px;

    .title {
      margin-left: -720px;
      text-align: left;
      margin-bottom: 35px;
      font-size: 52px;
      font-weight: 900;
      color: #fff;
    }

    .body {
      display: grid;
      grid-template-columns: auto auto; //repeat(2, 1fr);
      grid-gap: 20px;
      .subtitle {
        font-size: 24px;
        font-weight: 700;
        color: #fff;
      }
      .description {
        font-size: 18px;
        color: #d9dbe9;
        width: 380px;
      }
      .one {
        width: 530px;
        height: 300px;
        padding: 70px 50px;
        background: rgba(7, 3, 3, 0.01);
        /* Crystal Shadow/Card 1 */

        box-shadow: inset 0px 39px 56px -36px rgba(253, 229, 229, 0.25),
          inset 0px 7px 21px -3px rgba(252, 233, 233, 0.27),
          inset 0px -82px 68px rgba(136, 133, 143, 0.18),
          inset 0px 98px 100px -108px rgba(252, 240, 240, 0.1),
          inset 0px 4px 18px rgba(206, 199, 212, 0.15),
          inset 0px 1px 40px rgba(235, 235, 252, 0.15);
        backdrop-filter: blur(100px);
        /* Note: backdrop-filter has minimal browser support */
        border-radius: 50px;
      }
      .two {
        width: 530px;
        height: 300px;
        padding: 70px 50px;
        background: rgba(8, 0, 0, 0.01);
        /* Crystal Shadow/Card 1 */

        box-shadow: inset 0px 39px 56px -36px rgba(253, 229, 229, 0.25),
          inset 0px 7px 21px -3px rgba(252, 233, 233, 0.27),
          inset 0px -82px 68px rgba(136, 133, 143, 0.18),
          inset 0px 98px 100px -108px rgba(252, 240, 240, 0.1),
          inset 0px 4px 18px rgba(206, 199, 212, 0.15),
          inset 0px 1px 40px rgba(235, 235, 252, 0.15);
        backdrop-filter: blur(100px);
        /* Note: backdrop-filter has minimal browser support */
        border-radius: 50px;
      }
      .three {
        width: 530px;
        height: 300px;
        padding: 70px 50px;
        background: rgba(8, 0, 0, 0.01);
        /* Crystal Shadow/Card 1 */

        box-shadow: inset 0px 39px 56px -36px rgba(253, 229, 229, 0.25),
          inset 0px 7px 21px -3px rgba(252, 233, 233, 0.27),
          inset 0px -82px 68px rgba(136, 133, 143, 0.18),
          inset 0px 98px 100px -108px rgba(252, 240, 240, 0.1),
          inset 0px 4px 18px rgba(206, 199, 212, 0.15),
          inset 0px 1px 40px rgba(235, 235, 252, 0.15);
        backdrop-filter: blur(100px);
        /* Note: backdrop-filter has minimal browser support */
        border-radius: 50px;
      }
      .four {
        width: 530px;
        height: 300px;
        padding: 70px 50px;
        background: rgba(8, 0, 0, 0.01);
        /* Crystal Shadow/Card 1 */

        box-shadow: inset 0px 39px 56px -36px rgba(253, 229, 229, 0.25),
          inset 0px 7px 21px -3px rgba(252, 233, 233, 0.27),
          inset 0px -82px 68px rgba(136, 133, 143, 0.18),
          inset 0px 98px 100px -108px rgba(252, 240, 240, 0.1),
          inset 0px 4px 18px rgba(206, 199, 212, 0.15),
          inset 0px 1px 40px rgba(235, 235, 252, 0.15);
        backdrop-filter: blur(100px);
        /* Note: backdrop-filter has minimal browser support */
        border-radius: 50px;
      }
    }
  }

  .contact-info {
    margin-top: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 108px 80px 124px;

    .body {
      display: grid;
      grid-template-columns: auto auto; //repeat(2, 1fr);
      grid-gap: 20px;
      .one {
        .title {
          font-size: 52px;
          font-weight: 900;
          color: #fff;
        }
        .description {
          color: #bfbfcc;
          margin-bottom: 20px;
        }
        .email-info {
          margin-top: 20px;
          a {
            color: white;
          }
          font-weight: 600;
          color: white !important;
        }
        width: 550px;
        height: 270px;
        padding: 70px 50px;
        background-repeat: round;
      }
      .two {
        border-radius: 48px;
        color: white;
        box-shadow: 0 0 6px 0 black;
        border: solid 3px transparent;
        background-image: linear-gradient(
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
          ),
          linear-gradient(101deg, #beef00, #fe019a);
        background-origin: border-box;
        background-clip: content-box, border-box;
        background-color: black;
        box-shadow: 2px 1000px 1px #1400c6 inset;

        width: 600px;
        height: 600px;
        padding: 70px 50px;
        margin-right: 70px;
        // background-image: url("../assets/rectangle2.png");
        // background-repeat: round;
        .full-name:hover,
        .your-website:hover,
        .email-address:hover,
        .injury:hover,
        .notes:hover {
          background-color: rgba(20, 0, 198, 0.5);
        }
        .first-row {
          display: grid;
          grid-template-columns: auto auto;
          grid-column-gap: 20px;
        }
        .full-name,
        .your-website {
          background-color: rgba(20, 0, 198, 1);
          border-radius: 30px;
          height: 60px;
          color: #bfbfcc;
          padding: 0 20px;
          outline: none;
          border-width: 0;
          margin-bottom: 20px;
        }
        ::placeholder {
          color: #bfbfcc;
          opacity: 1;
        }
        .email-address,
        .injury {
          background-color: rgba(20, 0, 198, 1);
          border-radius: 30px;
          height: 60px;
          color: #bfbfcc;
          padding: 0 20px;
          outline: none;
          option {
            color: black;
          }
          border-width: 0;
          margin-bottom: 20px;
        }

        .notes {
          background-color: rgba(20, 0, 198, 1);
          border-radius: 30px;
          width: 500px;
          height: 180px;
          color: #bfbfcc;
          padding: 30px 20px;
          outline: none;
          border-width: 0;
          margin-bottom: 20px;
        }

        .message {
          border-radius: 48px;
          box-shadow: 0 0 6px 0 black;
          border: solid 3px transparent;
          background-image: linear-gradient(
              rgba(255, 255, 255, 0),
              rgba(255, 255, 255, 0)
            ),
            linear-gradient(101deg, #beef00, #fe019a);
          background-origin: border-box;
          background-clip: content-box, border-box;
          background-color: black;
          box-shadow: 2px 1000px 1px #1400c6 inset;

          // background-color: rgba(0, 0, 0, 0.5);
          width: 240px;
          height: 60px;
          color: white;
          font-weight: 600;
          padding: 0 20px;
          outline: none;
          margin-bottom: 20px;

          transition: transform 0.5s;
          transition-timing-function: ease-in-out;
          &:hover {
            transform: scale(0.9, 0.9) translate3d(0px, 0px, -50px);
          }
        }
      }
    }
  }

  .briefcase {
    margin-top: -100px;
    margin-left: 10px;
    width: 100%;
    height: 100%;
    img {
      height: 250px;
      width: 250px;
    }
    transition: transform 1s;
    transition-timing-function: ease-out;
    &:hover {
      transform: translate3d(50px, -70px, 5px);
    }
  }

  .why {
    margin-top: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 108px 80px 124px;

    .title {
      margin-bottom: 85px;
      color: #fff;
    }

    .body {
      display: flex;

      .item {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
        margin: 0 30px;

        .avatar {
          width: 150px;
          height: 150px;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            margin-bottom: 50px;
          }
        }

        p {
          text-align: center;
        }

        .title {
          margin-bottom: 25px;
          font: {
            size: 33px;
            weight: 900;
            family: "Archivo black", sans-serif;
          }
        }

        .description {
          font: {
            size: 24px;
            weight: 700;
          }
          line-height: 30px;
          letter-spacing: -1.5;
          color: #bfbfcc;
        }
      }
    }
  }

  .contact {
    padding: 180px 80px;
    display: flex;

    .left {
      width: 50%;
      padding-right: 60px;

      .title {
        color: #fff;
        font: {
          size: 75px;
          weight: 900;
          family: "Archivo black", sans-serif;
        }
        white-space: nowrap;
        line-height: 90px;
        text-align: left;
      }

      .description {
        font: {
          size: 24px;
          weight: 700;
        }
        color: #bfbfcc;
        line-height: 40px;
        letter-spacing: 1.5;

        a {
          color: #beef00;
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      padding-left: 60px;

      iframe {
        border: none;
        height: 350px !important;
        form {
          padding: 10px;
        }
      }

      .title {
        margin-bottom: 32px;
        &.contact-email {
          width: 450px;
          max-width: 100%;
        }
      }

      input {
        width: 100%;
        height: 40px;
        border: 6px solid rgba(190, 239, 0, 0.5);
        margin-bottom: 32px;
      }

      button {
        width: 130px;
        height: 40px;
        background: linear-gradient(135deg, #a0fe65 0%, #fa016d 100%);
        font: {
          family: Montserrat;
          weight: 500;
          size: 15px;
        }
        border: none;
      }
    }
  }

  .nft-gallery {
    // position: relative;
    margin-top: 660px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 108px 80px 124px;

    .title {
      margin-bottom: 100px;
      color: #fff;
      font-size: 72px;
    }

    .body {
      display: flex;

      .item {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: #fff;
        margin: 0 10px;

        .avatar {
          padding-left: 20px;
          margin-top: 60px;
          width: 350px;
          height: 350px;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            margin-bottom: 50px;
          }
          transition: transform 0.5s;
          transition-timing-function: ease-in-out;
          &:hover {
            transform: scale(1.03, 1.03) translate3d(0px, 0px, 10px);
          }
        }

        // p {
        //  text-align: left;
        // }
        .nft-number {
          font: {
            size: 20px;
            weight: 300;
          }
          padding-left: 20px;
          margin-top: 80px;
          color: #bfbfcc;
        }

        .title {
          padding-left: 20px;
          margin-top: 10px;
          margin-bottom: 5px;
          font: {
            size: 28px;
            weight: 600;
            family: "Archivo black", sans-serif;
          }
          cursor: pointer;
          transition: transform 0.5s;
          transition-timing-function: ease-in-out;
          &:hover {
            color: #4a3aff;
            transform: scale(0.99, 1) translate3d(0px, 0px, -3px);
          }
        }

        .description {
          padding-left: 20px;
          margin-top: 10px;
          font: {
            size: 26px;
            weight: 600;
          }
          line-height: 30px;
          letter-spacing: -1.5;
          color: #bfbfcc;
          cursor: pointer;
          transition: transform 0.5s;
          transition-timing-function: ease-in-out;
          &:hover {
            transform: scale(0.96, 0.96) translate3d(0px, 0px, -15px);
          }
        }

        .underline {
          margin-top: 3px;
          padding-left: 23px;
        }
      }
    }
  }

  .footer-menu {
    margin-left: -15px;
    padding-left: -30px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 30px;
    .logo {
      a {
        img {
          width: 138px;
          height: 47px;
          transition: transform 0.5s;
          transition-timing-function: ease-in-out;
          &:hover {
            transform: scale(0.9, 0.9) translate3d(0px, 0px, -50px);
          }
        }
      }
    }

    .nav-items {
      display: grid;
      grid-template-columns: auto auto auto auto auto;
      grid-column-gap: 30px;
      a {
        color: white;
        font-size: 20px;
        transition: transform 0.5s;
        transition-timing-function: ease-in-out;
        &:hover {
          transform: scale(0.98, 0.98) translate3d(0px, 0px, -5px);
        }
      }
    }

    .social-sites {
      margin-left: 200px;
      a {
        margin-right: 30px;
        &:hover {
          color: #beef00;
        }
        i {
          width: 20px;
          height: 20px;
          transition: transform 0.5s;
          transition-timing-function: ease-in-out;
          color: white;
          &:hover {
            // background-color: #beef00;
            transform: scale(0.9, 0.9) translate3d(0px, 0px, -5px);
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #beef0050;
    padding: 20px 20px;
    background: rgba(0, 0, 0, 0.25);
    color: #bfbfcc80;
    font: {
      // family: Montserrat;
      size: 15px;
      weight: 400;
    }
    line-height: 24px;
  }
}

@media (max-width: 1024px) {
  .home-container {
    .header {
      display: flex;
      justify-content: space-between;
      margin: 20px 20px;

      .top-menu {
        li {
          display: none;
        }
      }

      .logo {
        a {
          img {
            width: 100px;
            height: 100px;
          }
        }
      }

      .menu {
        display: none;
        width: 0;
      }
    }

    .hamburger {
      display: flex !important;
    }

    .heart {
      right: 10px;
      img {
        width: 100px;
        height: 80px;
      }
    }

    .globe {
      right: 10px;
      img {
        width: 100px;
        height: 100px;
      }
    }

    .banner {
      margin-left: 50px;
      margin-right: 0;
      flex-direction: column-reverse;
      padding: 50px 20px;

      .left {
        width: 100%;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .description {
          // font-size: 20px;
          max-width: 100%;
          text-align: center;
        }
      }

      .right {
        width: 100%;
        justify-content: center;
      }
    }

    .nft-gallery {
      padding: 50px 20px;

      .title {
        max-width: 100%;
        font-size: 50px;
      }

      .body {
        flex-direction: column;

        .item {
          width: 100%;
          margin: 0 0 100px;
          padding: 0 20px;
        }
      }
    }

    .header-menu {
      display: flex;
      flex-direction: column;
      padding: 30px 20px;

      ul {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;

        li {
          a {
            color: #fff;
            font: {
              size: 33px;
              weight: 900;
              family: "Archivo black", sans-serif;
            }
            line-height: 65px;
          }
          text-align: center;
        }
      }
    }

    .footer-menu {
      display: grid;
      grid-template-columns: auto; //repeat(2, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 30px;
      .logo {
        // a {
        //   img {
        //     width: 200px;
        //     height: 70px;
        //   }
        // }
      }

      .nav-items {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-column-gap: 30px;
        a {
          color: white;
          font-size: 20px;
        }
      }

      .social-sites {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-column-gap: 0px;
        margin-left: 0;
        a {
          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }


    .footer {
      padding: 10px 20px;
      text-align: center;
    }
    .nft {
      margin-top: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 108px 80px 124px;

      .title {
        margin: 0 auto;
        text-align: left;
        margin-bottom: 15px;
        font-size: 52px;
        font-weight: 900;
        color: #fff;
      }

      .body {
        display: grid;
        grid-template-columns: auto; //repeat(2, 1fr);
        grid-gap: 20px;

        .subtitle {
          font-size: 24px;
          font-weight: 700;
          color: #fff;
        }
        .description {
          color: #fff;
        }
        padding: 30px;
        .one {
          width: "100%";
          height: 270px;
          padding: 70px 50px;
          background-image: url("../assets/rectangle1.png");
          background-repeat: round;
        }
        .two {
          width: "100%";
          height: 270px;
          padding: 70px 50px;
          background-image: url("../assets/rectangle1.png");
          background-repeat: round;
        }
        .three {
          width: "100%";
          height: 270px;
          padding: 70px 50px;
          background-image: url("../assets/rectangle1.png");
          background-repeat: round;
        }
        .four {
          width: "100%";
          height: 270px;
          padding: 70px 50px;
          background-image: url("../assets/rectangle1.png");
          background-repeat: round;
        }
      }
    }

    .contact-info {
      max-width: 90vw;
      margin: 0 auto;
      margin-top: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 108px 80px 124px;

      .body {
        display: grid;
        grid-template-columns: auto; //repeat(2, 1fr);
        grid-gap: 20px;
        .one {
          .title {
            font-size: 52px;
            font-weight: 900;
            color: #fff;
          }
          .description {
            color: #bfbfcc;
            margin-bottom: 20px;
          }
          .email-info {
            margin-top: 20px;
            a {
              color: white;
            }
            font-weight: 600;
            color: white !important;
          }
          width: "100%";
          height: 270px;
          padding: 70px 50px;
          background-repeat: round;
        }
        .two {
          width: "100%";
          height: 700px;
          padding: 70px 50px;
          margin-right: 70px;
          background-image: url("../assets/rectangle2.png");
          background-repeat: round;
          .first-row {
            width: "100%";
            display: grid;
            grid-template-columns: auto;
            grid-column-gap: 20px;
          }
          .full-name,
          .your-website {
            background-color: rgba(255, 255, 255, 0.07);
            border-radius: 30px;
            width: "100%";
            height: 60px;
            color: white;
            padding: 0 20px;
            outline: none;
            border-color: rgba(0, 0, 0, 0.25);
            margin-bottom: 20px;
          }
          ::placeholder {
            color: white;
            opacity: 1;
          }
          .email-address,
          .injury {
            background-color: rgba(255, 255, 255, 0.07);
            border-radius: 30px;
            width: "100%";
            height: 60px;
            color: white;
            padding: 0 20px;
            outline: none;
            border-color: rgba(0, 0, 0, 0.25);
            margin-bottom: 20px;
            option {
              color: black;
            }
          }

          .notes {
            background-color: rgba(255, 255, 255, 0.07);
            border-radius: 30px;
            width: "100%";
            height: 180px;
            color: white;
            padding: 30px 20px;
            outline: none;
            border-color: rgba(0, 0, 0, 0.25);
            margin-bottom: 20px;
          }

          .message {
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 30px;
            width: 500px;
            height: 60px;
            color: white;
            font-weight: 600;
            padding: 0 20px;
            outline: none;
            border-color: rgba(0, 0, 0, 0.5);
            margin-bottom: 20px;
            box-shadow: 4px 16px 34px -10px rgba(0, 0, 0, 0.78);
          }
        }
      }
    }

    .why {
      padding: 50px 20px;

      .title {
        max-width: 100%;
      }

      .body {
        flex-direction: column;

        .item {
          width: 100%;
          margin: 0 0 100px;
          padding: 0 20px;
        }
      }
    }

    .about {
      max-width: 90vw;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      display: grid;
      grid-template-columns: auto;
      grid-gap: 20px;

      .avatar {
        img {
          width: 500px;
          height: 430px;
        }
      }

      .content {
        .title {
          margin-bottom: 25px;
        }
      }
    }

    .contact {
      margin: 0 auto;
      padding: 50px 20px;
      flex-direction: column;

      .left {
        width: 100%;
        padding-right: 0;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
          color: #fff;
          font: {
            size: 42px;
            weight: 900;
            family: "Archivo black", sans-serif;
          }
          white-space: nowrap;
          line-height: 56px;
          text-align: left;
        }

        .description {
          text-align: center;
        }
      }

      .right {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-left: 0;

        iframe {
          border: none;
          height: 550px !important;
          form {
            padding: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 678px) {
  .home-container {
    .header {
      display: flex;
      justify-content: space-between;

      .top-menu {
        li {
          display: none;
        }
      }

      .menu {
        display: none;
      }

      .hamburger {
        display: flex !important;
      }
    }

    .heart {

    }

    .footer-menu {
      display: grid;
      grid-template-columns: auto; //repeat(2, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 30px;
      .logo {
        //   a {
        //     img {
        //       width: 200px;
        //       height: 70px;
        //     }
        //   }
      }

      .nav-items {
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 30px;
        a {
          color: white;
          font-size: 20px;
        }
      }

      .social-sites {
        grid-template-columns: auto auto auto;
        margin-left: 0;
        display: grid;
        a {
          margin-right: 0;
          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}

@keyframes buttonAni {
  from {
    width: 100%;
    height: 100%;
  }
  // 50% {
  //   width: 98%;
  //   height: 98%;
  // }
  to {
    width: 90%;
    height: 90%;
  }
}
