.mint {
  flex: 8;
  margin-top: 0 !important;
  margin-bottom: 250px;
  position: relative;
  z-index: 999;
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 108px 80px 124px;

  .title {
    text-align: center;
    margin-bottom: 50px;
    color: #fff;
    font-size: 72px;
  }

  .body {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 70px;
    .mint-title-form {
      .mint-form {
        display: flex;
        justify-content: center;
        align-items: center;
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 30px;

        width: 636px;
        height: 550px;
        // background: #201933;
        // box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.4);
        // border-radius: 30px;

        padding: 72px 56px;
        border-radius: 50px;
        background-color: rgba(255, 255, 255, 0.01);
        box-shadow: inset 0 39px 56px -56px rgba(255, 255, 255, 0.25),
          inset 0 7px 21px 0 rgba(255, 255, 255, 0.2),
          inset 0 -82px 68px 0 rgb(109 105 116 / 18%),
          inset 0 -98px 100px -108px rgb(202 172 255 / 10%),
          inset 0 4px 18px 0 rgb(154 146 210 / 15%),
          inset 0 1px 40px 0 rgb(227 222 255 / 15%);

        .event-ticket {
          outline: none;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 542px;
          height: 86px;
          background: #1400c6;
          /* Neutral/100 */
          border: 2px solid #ffffff;
          box-sizing: border-box;
          border-radius: 92px;
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 22px;
          text-align: center;
          letter-spacing: 0.02em;
          color: white;
        }
        ::placeholder {
          //   width: 305px;
          //   height: 22px;
          //   font-family: Nunito Sans;
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 22px;
          /* identical to box height, or 110% */

          text-align: center;
          letter-spacing: 0.02em;

          /* Neutral/100 */

          color: white;
        }

        .select-file {
          width: 542px;
          height: 178px;
          border-style: dashed;
          border-radius: 20px;
          border-width: 2px;
          border-color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          display: grid;
          grid-template-columns: auto;
          .select-img {
            display: flex;
            img {
              margin: 0 auto;
              width: 63px;
              height: 53px;
            }
          }
          .select-text {
            width: 417px;
            height: 44px;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            /* or 110% */

            text-align: center;
            letter-spacing: 0.02em;

            /* Neutral/100 */

            color: #ffffff;
          }
        }
        button {
          color: #fff;
          font-style: normal;
          font-weight: 700;
          font-size: 30px;
          line-height: 22px;
          width: 542px;
          height: 86px;
          outline: none;
          border-radius: 96px;
          color: white;
          box-shadow: 0 0 6px 0 black;
          border: solid 3px transparent;
          background-image: linear-gradient(
              rgba(255, 255, 255, 0),
              rgba(255, 255, 255, 0)
            ),
            linear-gradient(101deg, #beef00, #fe019a);
          background-origin: border-box;
          background-clip: content-box, border-box;
          background-color: black;
          box-shadow: 2px 1000px 1px #1400c6 inset;

          transition: transform 0.5s;
          transition-timing-function: ease-in-out;
          &:hover {
            transform: scale(0.9, 0.9) translate3d(0px, 0px, -50px);
          }
        }
      }
    }
    .luv-coin {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        margin-top: 110px;
        width: 416px;
        height: 418px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .mint {
    flex: 8;
    margin-top: 0;
    margin-bottom: 0px;
    position: relative;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 108px 80px 124px;

    // .title {
    //   text-align: center;
    //   margin-bottom: 50px;
    //   color: #fff;
    //   font-size: 72px;
    // }

    .body {
      display: flex;
      justify-content: center;
      display: grid;
      grid-template-columns: auto;
      grid-column-gap: 70px;
      .mint-title-form {
        .mint-form {
          display: flex;
          justify-content: center;
          align-items: center;
          display: grid;
          grid-template-columns: auto;
          grid-row-gap: 30px;

          width: 636px;
          height: 550px;
          padding: 72px 56px;
          border-radius: 50px;
          background-color: rgba(255, 255, 255, 0.01);
          box-shadow: inset 0 39px 56px -56px rgba(255, 255, 255, 0.25),
            inset 0 7px 21px 0 rgba(255, 255, 255, 0.2),
            inset 0 -82px 68px 0 rgb(109 105 116 / 18%),
            inset 0 -98px 100px -108px rgb(202 172 255 / 10%),
            inset 0 4px 18px 0 rgb(154 146 210 / 15%),
            inset 0 1px 40px 0 rgb(227 222 255 / 15%);
          .event-ticket {
            outline: none;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 542px;
            height: 86px;
            background: #1400c6;
            /* Neutral/100 */

            border: 2px solid #ffffff;
            box-sizing: border-box;
            border-radius: 92px;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 22px;
            text-align: center;
            letter-spacing: 0.02em;
            color: white;
          }
          ::placeholder {
            //   width: 305px;
            //   height: 22px;
            //   font-family: Nunito Sans;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 22px;
            /* identical to box height, or 110% */

            text-align: center;
            letter-spacing: 0.02em;

            /* Neutral/100 */

            color: white;
          }

          .select-file {
            width: 542px;
            height: 178px;
            border-style: dashed;
            border-radius: 20px;
            border-width: 2px;
            border-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            display: grid;
            grid-template-columns: auto;
            .select-img {
              display: flex;
              img {
                margin: 0 auto;
                width: 63px;
                height: 53px;
              }
            }
            .select-text {
              width: 417px;
              height: 44px;
              font-style: normal;
              font-weight: 700;
              font-size: 18px;
              line-height: 22px;
              /* or 110% */

              text-align: center;
              letter-spacing: 0.02em;

              /* Neutral/100 */

              color: #ffffff;
            }
          }
          button {
            color: #fff;
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 22px;
            width: 542px;
            height: 86px;
            outline: none;
            border-radius: 96px;
            color: white;
            box-shadow: 0 0 6px 0 black;
            border: solid 3px transparent;
            background-image: linear-gradient(
                rgba(255, 255, 255, 0),
                rgba(255, 255, 255, 0)
              ),
              linear-gradient(101deg, #beef00, #fe019a);
            background-origin: border-box;
            background-clip: content-box, border-box;
            background-color: black;
            box-shadow: 2px 1000px 1px #1400c6 inset;

            transition: transform 0.5s;
            transition-timing-function: ease-in-out;
            &:hover {
              transform: scale(0.9, 0.9) translate3d(0px, 0px, -50px);
            }
          }
        }
      }
      .luv-coin {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          margin-top: 110px;
          width: 416px;
          height: 418px;
        }
      }
    }
  }
}

@media (max-width: 678px) {
  .mint {
    flex: 8;
    margin-top: 0;
    margin-bottom: 0px;
    position: relative;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 108px 80px 124px;
    max-width: 100vw;

    // .title {
    //   text-align: center;
    //   margin-bottom: 50px;
    //   color: #fff;
    //   font-size: 72px;
    // }

    .body {
      display: flex;
      justify-content: center;
      display: grid;
      grid-template-columns: auto;
      grid-column-gap: 70px;
      max-width: 95vw;
      .mint-title-form {
        .mint-form {
          display: flex;
          justify-content: center;
          align-items: center;
          display: grid;
          grid-template-columns: auto;
          grid-row-gap: 30px;
          max-width: 95vw;
          margin: 0 auto;
          margin-left: 0px;
          //   width: 636px;
          //   height: 550px;
          padding: 72px 56px;
          border-radius: 50px;
          background-color: rgba(255, 255, 255, 0.01);
          box-shadow: inset 0 39px 56px -56px rgba(255, 255, 255, 0.25),
            inset 0 7px 21px 0 rgba(255, 255, 255, 0.2),
            inset 0 -82px 68px 0 rgb(109 105 116 / 18%),
            inset 0 -98px 100px -108px rgb(202 172 255 / 10%),
            inset 0 4px 18px 0 rgb(154 146 210 / 15%),
            inset 0 1px 40px 0 rgb(227 222 255 / 15%);
          .event-ticket {
            outline: none;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 85vw;
            margin: 0 auto;
            // width: 542px;
            height: 86px;
            background: #1400c6;
            /* Neutral/100 */

            border: 2px solid #ffffff;
            box-sizing: border-box;
            border-radius: 92px;
            width: 542px;
            height: 86px;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            letter-spacing: 0.02em;
            color: white;
          }
          ::placeholder {
            max-width: 85vw;
            margin: 0 auto;
            //   width: 305px;
            //   height: 22px;
            //   font-family: Nunito Sans;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            /* identical to box height, or 110% */

            text-align: center;
            letter-spacing: 0.02em;

            /* Neutral/100 */

            color: white;
          }

          .select-file {
            max-width: 85vw;
            margin: 0 auto;
            height: 208px;
            border-style: dashed;
            border-radius: 20px;
            border-width: 2px;
            border-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            display: grid;
            grid-template-columns: auto;
            .select-img {
              display: flex;
              img {
                margin: 0 auto;
                width: 63px;
                height: 53px;
              }
            }
            .select-text {
              max-width: 85vw;
              //   width: 417px;
              height: 44px;
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
              line-height: 22px;
              /* or 110% */

              text-align: center;
              letter-spacing: 0.02em;

              /* Neutral/100 */

              color: #ffffff;
            }
          }
          button {
            color: #fff;
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 22px;
            max-width: 85vw;
            margin: 0 auto;
            // width: 542px;
            height: 86px;
            outline: none;
            border-radius: 96px;
            color: white;
            box-shadow: 0 0 6px 0 black;
            border: solid 3px transparent;
            background-image: linear-gradient(
                rgba(255, 255, 255, 0),
                rgba(255, 255, 255, 0)
              ),
              linear-gradient(101deg, #beef00, #fe019a);
            background-origin: border-box;
            background-clip: content-box, border-box;
            background-color: black;
            box-shadow: 2px 1000px 1px #1400c6 inset;

            transition: transform 0.5s;
            transition-timing-function: ease-in-out;
            &:hover {
              transform: scale(0.9, 0.9) translate3d(0px, 0px, -50px);
            }
          }
        }
      }
      .luv-coin {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          max-width: 85vw;
          max-height: 85vw;
          margin-top: 110px;
          height: 418px;
        }
      }
    }
  }
}

.gallery-container {
  width: 100%;
  margin-top: 0 !important;
  background: #000;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .header {
    flex: 1;
    position: relative;
    z-index: 1000;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 30px;

    .logo {
      a {
        img {
          width: 138px;
          height: 47px;
          transition: transform 0.5s;
          transition-timing-function: ease-in-out;
          &:hover {
            transform: scale(0.9, 0.9) translate3d(0px, 0px, -50px);
          }
        }
      }
    }

    .top-menu {
      li {
        display: inline;
        margin-right: 30px;
        a {
          font-size: 20px;
          color: white;
          transition: transform 0.5s;
          transition-timing-function: ease-in-out;
          &:hover {
            transform: scale(0.98, 0.98) translate3d(0px, 0px, -15px);
          }
        }
      }
      margin-right: 50px;
    }

    .menu {
      button {
        color: #fff;
        font: {
          size: 18px;
          weight: 600;
        }
        width: 232px;
        height: 68px;
        outline: none;
        border-radius: 96px;
        color: white;
        box-shadow: 0 0 6px 0 black;
        border: solid 3px transparent;
        background-image: linear-gradient(
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
          ),
          linear-gradient(101deg, #beef00, #fe019a);
        background-origin: border-box;
        background-clip: content-box, border-box;
        background-color: black;
        box-shadow: 2px 1000px 1px #1400c6 inset;

        transition: transform 0.5s;
        transition-timing-function: ease-in-out;
        &:hover {
          transform: scale(0.9, 0.9) translate3d(0px, 0px, -50px);
        }
      }
      margin-left: 100px;
      ul {
        display: flex;
        padding-left: 0;
        margin: 0;

        li {
          list-style-type: none;
          margin: 0 8px;
          a {
            color: #fff;
            text-decoration: none;
            letter-spacing: -1.5;
            font: {
              size: 20px;
              weight: 700;
            }
            transition: transform 0.5s;
            transition-timing-function: ease-in-out;
            &:hover {
              transform: scale(0.98, 0.98) translate3d(0px, 0px, -5px);
            }
          }
          img {
            width: 160px;
            height: 50px;
            transition: transform 0.5s;
            transition-timing-function: ease-in-out;
            &:hover {
              transform: scale(0.9, 0.9) translate3d(0px, 0px, -50px);
            }
          }
        }
      }
    }
  }

  .hamburger {
    display: none;
    filter: invert(1);
    outline: none;
    cursor: pointer;
    padding: 0 !important;
    border: none;
    img {
      width: 30px;
      height: 30px;
      transition: transform 0.5s;
      transition-timing-function: ease-out;
      &:hover {
        transform: scale(1.2, 1.2) translate3d(0px, 0px, 50px);
      }
    }
  }

  .back-highlight-1 {
    position: absolute;
    width: 285.75px;
    height: 285.75px;
    left: -68.72px;
    top: 244.44px;

    /* Primary/Color 2 */

    background: #beef00;
    filter: blur(194px);
  }

  .back-highlight-2 {
    position: absolute;
    width: 285.75px;
    height: 285.75px;
    left: 601px;
    top: 1571.06px;

    /* Primary/Color 2 */

    background: #beef00;
    filter: blur(194px);
  }

  .heart {
    // z-index: -1;
    position: absolute;
    top: 190px;
    left: 150px;
    height: 100%;
    img {
      width: 240px;
      height: 173px;
    }
    transition: transform 1s;
    transition-timing-function: ease-out;
    &:hover {
      transform: translate3d(-30px, 20px, 5px);
    }
  }

  .globe {
    // z-index: -1;
    position: absolute;
    top: 300px;
    right: 30px;
    height: 100%;
    img {
      height: 153px;
      width: 206px;
    }
    transition: transform 1s;
    transition-timing-function: ease-out;
    &:hover {
      transform: translate3d(-60px, -40px, 5px);
    }
  }

  .mint {
    flex: 8;
    margin-top: 0;
    margin-bottom: 0px;
    position: relative;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 108px 80px 124px;

    .title {
      text-align: center;
      margin-bottom: 50px;
      color: #fff;
      font-size: 72px;
    }

    .body {
      display: flex;
      justify-content: center;
      display: grid;
      grid-template-columns: auto auto;
      grid-column-gap: 70px;
      .mint-title-form {
        .mint-form {
          display: flex;
          justify-content: center;
          align-items: center;
          display: grid;
          grid-template-columns: auto;
          grid-row-gap: 30px;

          width: 636px;
          height: 550px;
          background: #201933;
          box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.4);
          border-radius: 30px;
          .event-ticket {
            outline: none;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 542px;
            height: 86px;
            background: #1400c6;
            /* Neutral/100 */

            border: 2px solid #ffffff;
            box-sizing: border-box;
            border-radius: 92px;
            width: 542px;
            height: 86px;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 22px;
            text-align: center;
            letter-spacing: 0.02em;
            color: white;
          }
          ::placeholder {
            //   width: 305px;
            //   height: 22px;
            //   font-family: Nunito Sans;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 22px;
            /* identical to box height, or 110% */

            text-align: center;
            letter-spacing: 0.02em;

            /* Neutral/100 */

            color: white;
          }

          .select-file {
            width: 542px;
            height: 178px;
            border-style: dashed;
            border-radius: 20px;
            border-width: 2px;
            border-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            display: grid;
            grid-template-columns: auto;
            .select-img {
              display: flex;
              img {
                margin: 0 auto;
                width: 63px;
                height: 53px;
              }
            }
            .select-text {
              width: 417px;
              height: 44px;
              font-style: normal;
              font-weight: 700;
              font-size: 18px;
              line-height: 22px;
              /* or 110% */

              text-align: center;
              letter-spacing: 0.02em;

              /* Neutral/100 */

              color: #ffffff;
            }
          }
          button {
            color: #fff;
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 22px;
            width: 542px;
            height: 86px;
            outline: none;
            border-radius: 96px;
            color: white;
            box-shadow: 0 0 6px 0 black;
            border: solid 3px transparent;
            background-image: linear-gradient(
                rgba(255, 255, 255, 0),
                rgba(255, 255, 255, 0)
              ),
              linear-gradient(101deg, #beef00, #fe019a);
            background-origin: border-box;
            background-clip: content-box, border-box;
            background-color: black;
            box-shadow: 2px 1000px 1px #1400c6 inset;

            transition: transform 0.5s;
            transition-timing-function: ease-in-out;
            &:hover {
              transform: scale(0.9, 0.9) translate3d(0px, 0px, -50px);
            }
          }
        }
      }
      .luv-coin {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          margin-top: 110px;
          width: 416px;
          height: 418px;
        }
      }
    }
  }

  .footer-menu {
    flex: 1;
    margin-left: -15px;
    padding-left: -30px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 30px;
    .logo {
      a {
        img {
          width: 138px;
          height: 47px;
          transition: transform 0.5s;
          transition-timing-function: ease-in-out;
          &:hover {
            transform: scale(0.9, 0.9) translate3d(0px, 0px, -50px);
          }
        }
      }
    }

    .nav-items {
      display: grid;
      grid-template-columns: auto auto auto auto auto;
      grid-column-gap: 30px;
      a {
        color: white;
        font-size: 20px;
        transition: transform 0.5s;
        transition-timing-function: ease-in-out;
        &:hover {
          transform: scale(0.98, 0.98) translate3d(0px, 0px, -5px);
        }
      }
    }

    .social-sites {
      margin-left: 200px;
      a {
        margin-right: 30px;
        &:hover {
          color: #beef00;
        }
        i {
          width: 20px;
          height: 20px;
          transition: transform 0.5s;
          transition-timing-function: ease-in-out;
          color: white;
          &:hover {
            // background-color: #beef00;
            transform: scale(0.9, 0.9) translate3d(0px, 0px, -5px);
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #beef0050;
    padding: 20px 20px;
    background: rgba(0, 0, 0, 0.25);
    color: #bfbfcc80;
    font: {
      // family: Montserrat;
      size: 15px;
      weight: 400;
    }
    line-height: 24px;
  }
}

@media (max-width: 1024px) {
  .gallery-container {
    .header {
      display: flex;
      justify-content: space-between;
      margin: 20px 20px;

      .top-menu {
        li {
          display: none;
        }
      }

      .logo {
        a {
          img {
            width: 100px;
            height: 100px;
          }
        }
      }

      .menu {
        display: none;
        width: 0;
      }
    }

    .hamburger {
      display: flex !important;
    }

    .heart {
      left: 10px;
      top: 400px;
      img {
        width: 130px;
        height: 100px;
      }
    }

    .globe {
      right: 10px;
      top: 1100px;
      img {
        width: 100px;
        height: 100px;
      }
    }

    .mint {
      flex: 8;
      margin-top: 0;
      margin-bottom: 0px;
      position: relative;
      z-index: 999;
      margin-top: 160px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 108px 80px 124px;

      .title {
        text-align: center;
        margin-bottom: 50px;
        color: #fff;
        font-size: 72px;
      }

      .body {
        display: flex;
        justify-content: center;
        display: grid;
        grid-template-columns: auto;
        grid-column-gap: 70px;
        .mint-title-form {
          .mint-form {
            display: flex;
            justify-content: center;
            align-items: center;
            display: grid;
            grid-template-columns: auto;
            grid-row-gap: 30px;

            width: 636px;
            height: 550px;
            background: #201933;
            box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.4);
            border-radius: 30px;
            .event-ticket {
              outline: none;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 542px;
              height: 86px;
              background: #1400c6;
              /* Neutral/100 */

              border: 2px solid #ffffff;
              box-sizing: border-box;
              border-radius: 92px;
              width: 542px;
              height: 86px;
              font-style: normal;
              font-weight: 700;
              font-size: 20px;
              line-height: 22px;
              text-align: center;
              letter-spacing: 0.02em;
              color: white;
            }
            ::placeholder {
              //   width: 305px;
              //   height: 22px;
              //   font-family: Nunito Sans;
              font-style: normal;
              font-weight: 700;
              font-size: 20px;
              line-height: 22px;
              /* identical to box height, or 110% */

              text-align: center;
              letter-spacing: 0.02em;

              /* Neutral/100 */

              color: white;
            }

            .select-file {
              width: 542px;
              height: 178px;
              border-style: dashed;
              border-radius: 20px;
              border-width: 2px;
              border-color: white;
              display: flex;
              justify-content: center;
              align-items: center;
              display: grid;
              grid-template-columns: auto;
              .select-img {
                display: flex;
                img {
                  margin: 0 auto;
                  width: 63px;
                  height: 53px;
                }
              }
              .select-text {
                width: 417px;
                height: 44px;
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                /* or 110% */

                text-align: center;
                letter-spacing: 0.02em;

                /* Neutral/100 */

                color: #ffffff;
              }
            }
            button {
              color: #fff;
              font-style: normal;
              font-weight: 600;
              font-size: 30px;
              line-height: 22px;
              width: 542px;
              height: 86px;
              outline: none;
              border-radius: 96px;
              color: white;
              box-shadow: 0 0 6px 0 black;
              border: solid 3px transparent;
              background-image: linear-gradient(
                  rgba(255, 255, 255, 0),
                  rgba(255, 255, 255, 0)
                ),
                linear-gradient(101deg, #beef00, #fe019a);
              background-origin: border-box;
              background-clip: content-box, border-box;
              background-color: black;
              box-shadow: 2px 1000px 1px #1400c6 inset;

              transition: transform 0.5s;
              transition-timing-function: ease-in-out;
              &:hover {
                transform: scale(0.9, 0.9) translate3d(0px, 0px, -50px);
              }
            }
          }
        }
        .luv-coin {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            margin-top: 110px;
            width: 416px;
            height: 418px;
          }
        }
      }
    }

    .nft-gallery {
      position: relative;
      padding: 50px 20px;

      .title {
        max-width: 100%;
        font-size: 50px;
      }

      .body {
        flex-direction: column;

        .item {
          width: 100%;
          margin: 0 0 100px;
          padding: 0 20px;
        }
      }
    }

    .header-menu {
      display: flex;
      flex-direction: column;
      padding: 30px 20px;

      ul {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;

        li {
          a {
            color: #fff;
            font: {
              size: 33px;
              weight: 900;
              family: "Archivo black", sans-serif;
            }
            line-height: 65px;
          }
          text-align: center;
        }
      }
    }

    .footer-menu {
      display: grid;
      grid-template-columns: auto; //repeat(2, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 30px;
      .logo {
        // a {
        //   img {
        //     width: 200px;
        //     height: 70px;
        //   }
        // }
      }

      .nav-items {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-column-gap: 30px;
        a {
          color: white;
          font-size: 20px;
        }
      }

      .social-sites {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-column-gap: 0px;
        margin-left: 0;
        a {
          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    .footer {
      padding: 10px 20px;
      text-align: center;
    }
  }
}

@media (max-width: 678px) {
  .gallery-container {
    .header {
      display: flex;
      justify-content: space-between;

      .top-menu {
        li {
          display: none;
        }
      }

      .menu {
        display: none;
      }

      .hamburger {
        display: flex !important;
      }
    }

    .mint {
      flex: 8;
      margin-top: 0;
      margin-bottom: 0px;
      position: relative;
      z-index: 999;
      margin-top: 160px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 108px 80px 124px;
      max-width: 95vw;

      .title {
        text-align: center;
        margin-bottom: 50px;
        color: #fff;
        font-size: 72px;
      }

      .body {
        display: flex;
        justify-content: center;
        display: grid;
        grid-template-columns: auto;
        grid-column-gap: 70px;
        max-width: 95vw;
        .mint-title-form {
          .mint-form {
            display: flex;
            justify-content: center;
            align-items: center;
            display: grid;
            grid-template-columns: auto;
            grid-row-gap: 30px;
            max-width: 95vw;
            margin: 0 auto;
            margin-left: 10px;
            //   width: 636px;
            //   height: 550px;
            background: #201933;
            box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.4);
            border-radius: 30px;
            .event-ticket {
              outline: none;
              display: flex;
              justify-content: center;
              align-items: center;
              max-width: 85vw;
              margin: 0 auto;
              // width: 542px;
              height: 86px;
              background: #1400c6;
              /* Neutral/100 */

              border: 2px solid #ffffff;
              box-sizing: border-box;
              border-radius: 92px;
              width: 542px;
              height: 86px;
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
              line-height: 22px;
              text-align: center;
              letter-spacing: 0.02em;
              color: white;
            }
            ::placeholder {
              max-width: 85vw;
              margin: 0 auto;
              //   width: 305px;
              //   height: 22px;
              //   font-family: Nunito Sans;
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
              line-height: 22px;
              /* identical to box height, or 110% */

              text-align: center;
              letter-spacing: 0.02em;

              /* Neutral/100 */

              color: white;
            }

            .select-file {
              max-width: 85vw;
              margin: 0 auto;
              height: 208px;
              border-style: dashed;
              border-radius: 20px;
              border-width: 2px;
              border-color: white;
              display: flex;
              justify-content: center;
              align-items: center;
              display: grid;
              grid-template-columns: auto;
              .select-img {
                display: flex;
                img {
                  margin: 0 auto;
                  width: 63px;
                  height: 53px;
                }
              }
              .select-text {
                max-width: 85vw;
                //   width: 417px;
                height: 44px;
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 22px;
                /* or 110% */

                text-align: center;
                letter-spacing: 0.02em;

                /* Neutral/100 */

                color: #ffffff;
              }
            }
            button {
              color: #fff;
              font-style: normal;
              font-weight: 600;
              font-size: 30px;
              line-height: 22px;
              max-width: 85vw;
              margin: 0 auto;
              // width: 542px;
              height: 86px;
              outline: none;
              border-radius: 96px;
              color: white;
              box-shadow: 0 0 6px 0 black;
              border: solid 3px transparent;
              background-image: linear-gradient(
                  rgba(255, 255, 255, 0),
                  rgba(255, 255, 255, 0)
                ),
                linear-gradient(101deg, #beef00, #fe019a);
              background-origin: border-box;
              background-clip: content-box, border-box;
              background-color: black;
              box-shadow: 2px 1000px 1px #1400c6 inset;

              transition: transform 0.5s;
              transition-timing-function: ease-in-out;
              &:hover {
                transform: scale(0.9, 0.9) translate3d(0px, 0px, -50px);
              }
            }
          }
        }
        .luv-coin {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            max-width: 85vw;
            max-height: 85vw;
            margin-top: 110px;
            height: 418px;
          }
        }
      }
    }

    .footer-menu {
      display: grid;
      grid-template-columns: auto; //repeat(2, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 30px;
      .logo {
        //   a {
        //     img {
        //       width: 200px;
        //       height: 70px;
        //     }
        //   }
      }

      .nav-items {
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 30px;
        a {
          color: white;
          font-size: 20px;
        }
      }

      .social-sites {
        grid-template-columns: auto auto auto;
        margin-left: 0;
        display: grid;
        a {
          margin-right: 0;
          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}
